[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "==2.0.0b5"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = "nodemon --exec python3 main.py"
start = "python3 main.py"